@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome Here</h2>
    <p> This is online website where any user can learn about html navigations, html form and javascript questions.</p>
   
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Learning Objectives</h2>
           <ul>
               <li> This website will guide you about what is navigations bar, how to create it and some videos about it.</li>
               <li> How to create html forms</li>
               <li> Some questions about javascript</li>
           
            </ul>

       
    </div>
   
</div>