body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navigations{
    text-align:center;
    border:1px solid;
    padding:10px;
    margin-top:20px;
}
.navigations>div>div:first-child {
    border-right:1px solid;
}
.navigations p, .details{
    text-align:left;
}
.details{
    padding:20px;
}
.two ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.three ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

.three li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.three li a:hover {
    background-color: #555;
    color: white;
}
.four ul, .five ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.four li {
    display: inline;
}
.five li {
    float: left;
}

.five a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}